.shell {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.shell.hidden {
  bottom: -3rem;
  transition: 0;
}

.shell.visible {
  bottom: 0;
  transition: 0.5s ease-out;
}

.background {
  background-color: #041628;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
  border-width: 0;
}

.player {
  -webkit-touch-callout: none;
  user-select: none;

  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  height: 3rem;
  transition: background 1.5s linear;
}

.player .song2 {
  align-items: center;
  backdrop-filter: blur(1rem) brightness(0.7);
  border-radius: 1rem 1rem 0 0;
  color: white;
  display: flex;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}

.player .song2 img {
  width: 1.5rem;
}

.icon {
  display: flex;
}

.info {
  flex-grow: 1;
  overflow: hidden;
  padding: 0 .5rem;
}

.title {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 0.2rem;
}

.title .missing {
  font-style: italic;
}

.artist {
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  min-width: 3rem; /* This `min-width` accounts for tracks of up to 10 hours */
  text-align: center;
}

.controls .button {
  height: 1.5rem;
}

.remaining {
  font-size: 0.9rem;
}
