.cover {
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #C0C0C0;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  margin-bottom: 1rem;
}

.details {
  text-align: center;
}

.details .title {
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.details .missing {
  color: gray;
  font-style: italic;
}

.actions img {
  max-width: 1.3rem;
  width: 1.3rem;
  margin-right: 1rem;
}
