.noscroll {
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.25s linear;
  opacity: 0;
}

.modal {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #aaa;
  color: black;
  font-weight: normal;
  height: calc(100vh - 3rem);
  left: 1.5rem;
  overflow-y: scroll;
  padding: 1rem;
  position: absolute;
  top: 1.5rem;
  width: calc(100% - 3rem);
  z-index: 2000;
}

/* This rule has to go after .overlay because they both define "opacity" and
 * the last rule to be evaluated has preference over the rest. If this one
 * goes before then the modal will never show.
 */
.visible {
  opacity: 1;
}
