.shoulder {
  border-radius: 1rem;
  min-height: 5rem;
  overflow-wrap: break-word;
  position: relative;
}

.shoulder.collection {
  top: calc(-4em + 3px);
}

.shoulder.detail {
  top: -3rem;
}

.collection {
  background-color: white;
}

.detail {
  background-color: rgba(255, 255, 255, 0.8);
}

.padding {
  padding: 1rem 1rem 0;
}
