section.navigation {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  top: -10rem;
}

section.navigation.collection {
  position: relative;
}

section.navigation .back,
section.navigation .search,
section.navigation .servers,
section.navigation .settings,
section.navigation .title {
  padding: 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}

section.navigation .back > img,
section.navigation .search > img,
section.navigation .servers > img,
section.navigation .settings > img {
  width: 1.3rem;
}

section.navigation .title {
  display: block;
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

section.navigation .title a {
  color: white;
}
