.f04 {
  padding: 4rem 1rem 0;
}

.missing {
  font-style: italic;
}

.header {
  align-items: center;
  display: flex;
  height: 3rem;
  max-height: 3rem;
  overflow-y: hidden;
  padding: .5rem 1rem;
}

.header .name {
  flex-grow: 1;
  font-weight: bold;
}

.details {
  color: #742e12;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 1rem 1rem 0;
}

.details .artist a {
  color: #742e12;
}

.header img {
  width: 2rem;
}

.tracklist {
  margin-top: .75rem;
}

.tracklist .empty {
  margin: 0 1rem;
}

.tracklist .highlight {
  background-color: #eee;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.tracklist .track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.tracklist .track img {
  width: 2rem;
}

.tracklist .track .ordinal {
  align-items: center;
  background-image: url("/assets/img/play.png");
  background-size: cover;
  border-radius: 1rem;
  color: white;
  display: flex;
  height: 2rem;
  justify-content: center;
  min-width: 2rem;
  /* https://stackoverflow.com/a/4919231 */
  text-shadow: -1px -1px 0 #464646, 1px -1px 0 #464646, -1px 1px 0 #464646, 1px 1px 0 #464646;
  width: 2rem;
}

.stretch {
  flex-grow: 1;
  padding: 0 .5rem;
}

.tracklist .title .missing {
  color: gray;
}

.tracklist .title .info {
  font-size: 0.8rem;
}

.tracklist .track .features {
  color: #742e12;
  font-size: 0.8rem;
}

.tracklist .track .length {
  font-size: 0.8rem;
}

.tracklist .track .artists {
  margin-left: 1rem;
  color: gray;
}

.tracklist .disc {
  margin: 0 1rem;
}

.tracklist .disc:not(:first-of-type) {
  margin-top: 1rem;
}

.tracklist .disc .number {
}

.tracklist .disc .info {
  font-size: 0.8rem;
  color: #742e12;
  margin-left: 1rem;
}

.nobreak {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
