.album .name.missing {
  color: gray;
  font-style: italic;
}

section.list .album,
section.thumbnails .album {
  padding-top: 0.5rem;
}

section.list .album:first-of-type,
section.thumbnails .album:first-of-type {
  padding-top: 0;
}

section.mosaic {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

section.mosaic a {
  color: black;
  display: block;
}

section.mosaic a.album .cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 1rem 0;
  border: 1px solid #C0C0C0;
  margin-bottom: .5rem;
  padding-top: 100%;
  width: 100%;
}

section.mosaic a.album .name {
  word-break: break-word;
}

section.mosaic .album .artist {
  color: #742e12;
  font-size: 0.8rem;
  margin-bottom: .5rem;
  max-width: calc((100vw - 4rem) / 3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.mosaic .album .artist .missing {
  font-style: italic;
}

section.list .album {
  align-items: center;
  color: black;
  display: flex;
}

section.list .album img {
  max-width: 2rem;
  margin-right: 0.5rem;
}

section.list .album .artist {
  color: #742e12;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

section.list .album .artist .missing {
  font-style: italic;
}

section.thumbnails .album {
  display: flex;
  color: black;
}

section.thumbnails .thumb {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid #C0C0C0;
  margin-right: 0.5rem;
}

section.thumbnails .album .artist {
  color: #742e12;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

section.thumbnails .album .artist .missing {
  font-style: italic;
}
