.menu {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 1rem;
  position: relative;
  top: -10rem;
}

.menu a {
  border-bottom: 3px solid transparent;
  color: black;
  padding: 0.5rem 1rem;
}

.menu a.active {
  border-bottom: 3px solid black;
  color: white;
}
