.f04 {
  padding: 4rem 1rem 0;
}

.spinner {
  text-align: center;
}

.name {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  height: 3rem;
}

.name h1 {
  flex-grow: 1;
}

.name img {
  width: 2rem;
}

.albums {
  margin: 1rem 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.albums .album a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

.albums .album .albumname {
  word-break: break-word;
  overflow-wrap: anywhere;
  margin: 0;
}

.albums .album .thumb {
  border: 1px solid #C0C0C0;
  background-position: center;
  background-size: cover;
  border-radius: 1rem 1rem 1rem 0;
  margin-bottom: .5rem;
  padding-top: 100%;
  width: 100%;
}

.albums .album a .sub .year {
  flex-grow: 1;
}

.albums .album a .sub {
  color: #742e12;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.albums .album a .sub h3 {
  display: inline;
}
