.header {
  height: 50vw;
  background-size: cover;
  border-radius: 0 0 1rem 1rem;
  transition: background-image 1.5s linear;
  background-image: url(/assets/img/black.png);
  background-position: center;
}

/* TODO: Fade background-image in.
 * See: https://stackoverflow.com/a/27579131
 */
.header section {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.notfound {
  background-color: black;
  padding-bottom: 2rem;
}
