section.list .artist,
section.thumbnails .artist {
  padding-top: 0.5rem;
}

section.list .artist:first-of-type,
section.thumbnails .artist:first-of-type {
  padding-top: 0;
}

section.grid {
  column-count: 2;
  min-height: 100%;
  width: 100%;
}

section.grid a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #EAEAEA;
  border-bottom: none;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

section.grid .artist {
  overflow: hidden;
}

section.grid .artist img {
  visibility: hidden;
  min-height: 1.5rem;
  width: 100%;
}

section.grid .artist .name {
  background-color: rgba(255, 255, 255, .7);
  border-bottom: 1px solid #C0C0C0;
  border-radius: 0 0 1rem 1rem;
  box-sizing: border-box;
  color: black;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.list .artist {
  color: black;
  display: flex;
}

section.list .artist img {
  margin-right: 0.5rem;
  width: 1rem;
}

section.thumbnails .artist {
  align-items: center;
  color: black;
  display: flex;
}

section.thumbnails .artist .thumb {
  background-color: #EAEAEA;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.5rem;
  border: 1px solid #C0C0C0;
  height: 3rem;
  margin-right: 1rem;
  min-width: 3rem;
  width: 3rem;
}

section.thumbnails .artist .name {
  align-items: center;
  display: flex;
  min-height: 3rem;
  width: 100%;
}

/* This is not working, it doesn't apply it only to the last element, but it
 * removes the border from every artist name.
section.thumbnails .artist .name:last-of-type {
  border-bottom: 0;
}
*/
