.noscroll {
  overflow: hidden;
}

.missing {
  font-style: italic;
}

.modal {
  transition: background-color 0.25s ease;
  background-color: transparent;
  position: fixed;
}

.modal.visible {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.queue {
  background-color: white;
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  overflow: scroll;
  position: fixed;
  width: 100%;
  z-index: 1;
}

section.queue.hidden {
  top: 100vh;
  transition: 0.25s ease-in;
}

section.queue.visible {
  top: 0.5rem;
  transition: 0.35s ease-out;
}

section.queue.hidden.noanim {
  transition: none;
}

.timer {
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  padding: 0 1rem;
}

section.tracklist .header {
  align-items: center;
  color: gray;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0.5rem 0.8rem 0 1rem;
}

section.tracklist .header .rm {
  color: #742e12;
  text-align: right;
}

section.tracklist .rm {
  padding: 0 0.5rem;
  font-size: 2rem;
  color: gray;
}

section.tracklist .album {
  color: #742e12;
}

section.details {
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

section.details .title, section.details .artists, section.details .album {
  text-align: center;
  word-break: break-word;
}

section.details .artists a, section.details .album a {
  color: black;
}

section.details .title {
  align-items: flex-end;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  min-height: 3rem;

 -webkit-text-stroke: 1px black;
 color: white;
 text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

section.details .title a, section.details .title a:visited {
  color: white;
  font-weight: bold;
}

section.details .artists {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

section.details .artists, section.details .album {
  margin-bottom: 0.5rem;
}

section.tracklist {
  margin-top: 1rem;
}

section.tracklist .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}

section.tracklist .heading h2 {
  flex-grow: 1;
}

section.tracklist .heading img {
  width: 1.5rem;
  align-items: center;
}

section.tracklist .track {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 .8rem 0 1rem;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

section.tracklist .track .index {
  margin-right: 0.5rem;
  min-width: 1.5rem;
}

section.tracklist .track .title {
  flex-grow: 1;
  margin: 0.25rem 0;
}

section.tracklist .track .title .artists {
  color: gray;
  font-size: 0.8rem;
}

section.tracklist .title .info {
  color: gray;
  font-size: 0.8rem;
}

section.tracklist .title .features {
  font-size: 0.8rem;
}

section.tracklist .title .missing {
  color: gray;
}

section.tracklist .track.current {
  background-color: #eee;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.hideIndex {
  color: #eee;
  display: inline-block;
}

section.tracklist .track .playing {
  width: 1rem;
}

/* Based on one of the loaders by Luke Haas:
 * https://projects.lukehaas.me/css-loaders/
 */
.loader,
.loader:before,
.loader:after {
  -webkit-animation: load1 1.5s infinite ease-in-out;
     -moz-animation: load1 1.5s infinite ease-in-out;
          animation: load1 1.5s infinite ease-in-out;
  background: #000000;
  bottom: 3px;
  color: black;
  max-height: 3px;
  width: 3px;
}
.loader {
  -webkit-animation-delay: -0.32s;
     -moz-animation-delay: -0.32s;
          animation-delay: -0.32s;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  border-radius: 100%;
  font-size: 11px;
  left: 6px;
  position: relative;
  text-indent: -9999em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
  border-radius: 100%;
}
.loader:before {
  -webkit-animation-delay: -0.64s;
     -moz-animation-delay: -0.64s;
          animation-delay: -0.64s;
  left: -6px;
}
.loader:after {
  left: 6px;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
