.scanner .stream {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 1rem;
  border: 1px solid black;
  height: calc(100vw - 2rem);
  overflow: hidden;
  position: sticky;
}

.scanner video {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result .heading,
.result .confirm,
.result .cancel {
  flex-grow: 1;
  height: 100%;
}

.result .heading .header {
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  height: 6rem;
}

.result .heading .name {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
}

.result .confirm {
  margin: 0 1rem;
}

.result .confirm button {
  padding: 0.5rem 1rem;
  width: 100%;
}

.result .cancel {
  padding-bottom: 1rem;
  text-align: center;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  margin-top: 1rem;
}
