/*
 * ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
 * ┃ Blue          ┃ 70's          ┃
 * ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
 * ┃ Black Pearl   ┃ Red           ┃
 * ┃ #041628       ┃ #742E12       ┃
 * ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
 * ┃ Tropical Blue ┃ Yellow        ┃
 * ┃ #D4E7F8       ┃ #D28A2D       ┃
 * ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
 * ┃ Cerulean      ┃ Cream         ┃
 * ┃ #04A2D6       ┃ #BFBDA2       ┃
 * ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
 * ┃ Fun Blue      ┃ Turquoise     ┃
 * ┃ #1A61AC       ┃ #2F6C68       ┃
 * ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛
 */

.header {
  background-color: #4158D0;
  background-image: url(/assets/img/bg-header.jpg);
  background-size: cover;
  background-position: center;
  max-height: 10rem;
}

.song2 {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4px) brightness(0.7);
  background-color: rgba(255, 255, 255, 0.3);
  height: 10rem;
  padding-bottom: 2rem;
}
