.root {
  margin-bottom: 1rem;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

img, video {
  max-width: 100%;
}
