.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;
}

.search .close {
  margin-left: 0.5rem;
  width: 1.75rem;
}

.search .input {
  background-position-x: calc(100% - 0.5rem);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin: 0;
  min-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  width: 100%;
}
